* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #7b2cbf;
}
.btn {
    padding: 10px 20px;
    background-color: #7b2cbf;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #00ff88;
}
body {
    font-family: sans-serif;
    background-color: #121212;
    color: #ffffff;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    text-align: center;
}
.header,
.main,
.footer {
    padding-bottom: 20px;
}
.logo {
    margin-bottom: 20px;
}

.navigation-links {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
    list-style: none;
}
.section-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: auto;
}
.greeting {
    padding: 20px 0;
    margin-bottom: 20px;
}
.about-me {
    padding: 20px 0;
    margin-bottom: 20px;
}
.main-projects {
    padding: 20px 0;    
}
.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: auto;
    background-color: #333;
    border-radius: 10px;
}
.project-card img {
    width: 100%;
    height: auto;
}

/*Скрытие блока*/
.content-hidden {
    display: none;
}

@media (max-width: 768px) {
    .navigation-links {
        flex-direction: column;
        gap: 10px;
    }
    .project-cards {
        width: 100%;
        max-width: 300px;
    }
}